body {
  background: black;
}

.canvas-container {
  border-radius: 20px;
  // margin: 100px;
  background-color: white;
  border: 1px solid #000;
  // overflow: hidden;
}

// .canvas-container > div {
//   height: 200px;
//   background-color: red;
// }
