<div class = "canvas-container" style="position: relative;">
  <!-- <canvas #clouds
          style="position: absolute; left: 0; top: 0; z-index: 2; margin-top: 20px;"></canvas>
  <canvas #sky
          style="position: absolute; left: 0; top: 0; z-index: 1; border-radius: 20px; margin-top: 20px;"></canvas>

  <canvas #animals (click)="test($event)"
          style="position: absolute; left: 0; top: 0; z-index: 3; margin-top: 20px;"></canvas>

  <canvas #trees
          style="position: absolute; left: 0; top: 0; z-index: 2; margin-top: 20px;"></canvas>

  <canvas #terrain
          style="position: absolute; left: 0; top: 0; z-index: 1; border-radius: 20px; margin-top: 20px;"></canvas> -->
<app-hover-button></app-hover-button>
<app-infographic></app-infographic>
</div>



