

<div style="position: relative;">
  <canvas #clouds
          style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>
  <canvas #sky
          style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>


  <canvas #animals (click)="test($event)"
          style="position: absolute; left: 0; top: 0; z-index: 3;"></canvas>

  <canvas #trees
          style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>

  <canvas #terrain
          style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
</div>

<canvas #canvas style="background: red" ></canvas>


<app-hover-button></app-hover-button>
