<div class="container ms-3">
  <h1 style="padding-bottom: 10px">Metrics</h1>
  <div class="infographic-item">
    <img class = "subitem-logo" src="assets/money.svg">
    <img class = "subitem" src="assets/three_up.svg">
    <span class = "subitem-text">{{revenue}}</span>
  </div>
  <h2 style="padding-top: 15px;">ESG Factors</h2>
  <div class="infographic-container">
    <div class="infographic-item">
      <img class = "subitem-logo" src="assets/leaf_bw.svg">
      <img class = "subitem" src="assets/two_down.svg">
      <span class="subitem-text">{{environmental}}</span>
    </div>
    <div class="infographic-item">
      <img class = "subitem-logo" src="assets/people_bw.svg">
      <img class = "subitem" src="assets/three_down.svg">
      <span class = "subitem-text">{{social}}</span>
    </div>
    <div class="infographic-item">
      <img class = "subitem-logo" src="assets/eye_bw.svg">
      <img class = "subitem" src="assets/one_up.svg">
      <span class = "subitem-text">{{governance}}</span>
    </div>
    <!-- <div class="infographic-item">
      <img class = "subitem" src="assets/social.svg">
      <img class = "subitem" src="assets/three_up.svg">
      <span class = "subitem">230</span>
    </div> -->
</div>

