h1 {
  font-size: 25px;
  padding: 0px 0px 0px 0px;
  // background-color: grey;
}

h2 {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.container {
  // background-color: lightgray;
  // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  // height: 200px;
  width: 250px;
  z-index: 12;
}

.infographic-container {
  // padding: 20px
  // flex: 2 1 200px;
  padding: 10px 0px 10px 0px;
  // background-color: red;
}

.infographic-item {
  display: flex;
  align-items: center;
  justify-content: left;
  // width: 200px;
  padding: 5px;
  // height: 70px;
  // margin: 5px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: medium;
  // justify-content: space-between;
  // background-color: green;

  &:hover {
    background-color: var(--background-color-grey);
  }
}

.subitem {
  /* Set the width of each subitem */
  width: 50px; /* You can set any width you want */
  height: 50px;
  /* Addit ional styling */
  // border: 1px solid black;
  padding: 5px;
  // margin: 5px;
}


.subitem-logo {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.subitem-text {
  font-weight: bold;
  font-family: Helvetica;
}
