<h2 mat-dialog-title>Quick introduction to ESG</h2>
<hr class="mt-0" />
<mat-dialog-content class="mat-typography">
  <mat-vertical-stepper [linear]="false" animationDuration="700">
    <mat-step>
      <ng-template matStepLabel>What is ESG?</ng-template>
      <div>
        <p>ESG stands for Environmental, Social, and Governance.</p>
        <p>
          These are the three key factors when measuring the sustainability and
          ethical impact of an investment in a business or company.
        </p>
        <p>
          It is a set of standards for a firm’s operations that investors use to
          screen potential investments for their impact on these critical areas.
        </p>
      </div>
      <!--      <div class="text-center">-->
      <!--        <button mat-button matStepperNext>Next</button>-->
      <!--      </div>-->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        >Why taking care of ESG is important?</ng-template
      >

      <div>
        <ul>
          <li>
            <b>Risk Management</b> - Proper ESG practices can help a company
            anticipate and manage business risks, improving resilience.
          </li>
          <li>
            <b>Regulatory Compliance -</b> Abiding by ESG standards can help a
            company stay compliant with increasing regulations aimed at
            sustainability and social responsibility.
          </li>
          <li>
            <b>Market Reputation - </b> Businesses that prioritize ESG usually
            have a better public image, which can increase customer and investor
            loyalty.
          </li>
          <li>
            <b>Long-Term Success -</b> ESG targets often align with business
            sustainability, contributing to the business's long-term success and
            profitability.
          </li>
          <li>
            <b>Positive Impact - </b> Attention to ESG principles helps
            businesses contribute positively to society and the environment,
            avoiding harmful impacts and contributing to global goals like the
            United Nations' Sustainable Development Goals.
          </li>
        </ul>
      </div>
      <!--      <button mat-button matStepperPrevious>Back</button>-->
      <!--      <button mat-button matStepperNext>Next</button>-->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        >What can happen if you don't take ESG into consideration?</ng-template
      >

      <ul>
        <li>
          <b>Legal and Regulatory Penalties - </b> Non-compliance with
          regulations related to environment, social responsibilities, and
          governance can result in severe penalties, legal issues, or fines.
        </li>
        <li>
          <b>Reputational Damage - </b> Poor ESG practices can result in a bad
          public image, leading to loss of customers or decreased loyalty.
        </li>
        <li>
          <b>Adverse Impact on Society and Environment - </b> A lack of ESG
          consideration might result in harmful outcomes for communities and the
          environment, such as pollution, unfair labor practices, or unethical
          actions.
        </li>
        <li>
          <b>Sustainability Challenges - </b> Ignoring ESG practices can also
          undermine a business's sustainability in the long term, with
          inadequate preparation for foreseeable changes in the market,
          environment, and regulatory landscape.
        </li>
        <li>
          <b>Operational Costs - </b> Inefficient use of resources can inflate
          operating costs and waste valuable assets.
        </li>
      </ul>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mb-3" mat-button color='primary' [mat-dialog-close]="true" cdkFocusInitial>All Good, let's get started</button>
</mat-dialog-actions>
