<h4 class="mx-3 pt-2">Select a sapling to plant</h4>
<mat-form-field class="w-100">
  <mat-label>Select sappling</mat-label>
  <mat-select ngDefaultControl [(ngModel)]="sapling">
    <mat-option *ngFor="let manufacturer of manufacturers$ | async" [value]="manufacturer.ISIN_BC">
      {{ manufacturer.companyLongName }}</mat-option
    >
  </mat-select>
</mat-form-field>
<div class="w-100 text-center">
  <button mat-raised-button color="primary" class="mt-3" (click)="onClose()">Plant sapling</button>
</div>
